<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>Edit Ninja</title>
</head>
<body>
    <div class="center-content">
        <h1>Edit {{one_ninja.first_name}} {{one_ninja.last_name}}</h1>
        <form action="/ninjas/update" method="post">
            <input type="hidden" name="ninja_id" value="{{one_ninja.id}}">
            <input type="hidden" name="dojo_id" value="{{one_ninja.dojo_id}}">
            <label>
                First Name:
                <input type="text" name="first_name" class="form-control" value="{{one_ninja.first_name}}">
            </label>
            <label>
                Last Name:
                <input type="text" name="last_name" class="form-control" value="{{one_ninja.last_name}}">
            </label>
            <label>
                Age:
                <input type="number" name="age" class="form-control" value="{{one_ninja.age}}">
            </label>
            <input type="submit" value="Update">
        </form>
        <a href="/dojos/{{one_ninja.dojo_id}}">Back to Dojo</a>
    </div>
</body>
</html>

<!-- Format for adding images -->
<!-- <img src="{{ url_for('static', filename='images/img.png') }}"> -->